
@{
    ViewData["Title"] = "_AboutUsLayout";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1>_AboutUsLayout</h1>

<a asp-controller="aboutus" asp-action="about1">about 1</a>
<a asp-controller="aboutus" asp-action="about2">about 2</a>

@RenderBody()