
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>index 1</h3>
    <a asp-controller="xxx" asp-action="index2">Index2</a>
    <a asp-controller="xxx" asp-action="index3" asp-route-id="p01">Index3</a>
    <a asp-controller="xxx" asp-action="index4" asp-route-id="11" asp-route-str="asdad">Index4</a>
    <br />
    <a asp-controller="xxx" asp-action="index5" asp-route-id1="12" asp-route-id2="1231">Index5</a>
    <a asp-controller="xxx" asp-action="index7" asp-route-id1="12" asp-route-id2="1231">Index7</a>
    <a asp-controller="xxx" asp-action="">Index</a>
    <br />
    <a asp-controller="product" asp-action="">product</a>
</body>
</html>
