
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <a asp-controller="xxx" asp-action="index">Index</a>
    <a asp-controller="xxx" asp-action="index2">Index2</a>
</body>
</html>
