
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <h3>index2</h3>
    <a asp-controller="xxx" asp-action="index1">Index1</a>


</body>
</html>
